<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Glitzed.me</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="#">Shops</a>
        <a class="nav-link" href="#">About</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Glitzed.me</h1>
    <p class="lead">Find the best salon for you.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>A Marcus and Ian production.</p>
    </div>
  </footer>
</div>
